button{
    background: rgb(153, 0, 255);
    background: linear-gradient(180deg, rgb(106, 54, 141) 0%, rgba(85,51,108,1) 100%);
    border: 0;
    color: white;
    padding: 2vh;
    font-size: 2.5vh;
    border-radius: 2vh;
    box-shadow: 0px 0px 1vh 0px rgba(0, 0, 0, 0.164);
}

button h3{
    font-size: 2vh;
    padding: 0;
    margin: 0;
}

button:hover{
    background: linear-gradient(180deg, rgb(139, 83, 177) 0%, rgba(85,51,108,1) 100%);
}

@media only screen and (max-width: 70vh) {
    button h3{
        font-size: 3vw;
    }
}
