.field{
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-bottom: 1rem;
    width: 100%;
    max-width: 50vw;
}

.errorInput{
    background: rgba(0, 0, 0, 0.315);
    color: #b9b9b9;
    border: 0;
    border-radius: 1vw;
    padding: 2vh;
    width: 70%;
    background: rgba(87, 20, 20, 0.315);
    border: 2px solid rgba(255, 0, 0, 0.356); 
}

.field textarea{
    background: rgba(0, 0, 0, 0.315);
    color: #b9b9b9;
    border: 0;
    border-radius: 1vw;
    padding: 2vh;
    resize: none;
    height: 10vh;
    width: calc(100% - 4vh);
}

.normalInput{
    background: rgba(0, 0, 0, 0.315);
    color: #b9b9b9;
    border: 0;
    border-radius: 1vw;
    padding: 2vh;
    width: calc(100% - 4vh);
}


.smallInput{
    background: rgba(0, 0, 0, 0.315);
    color: #b9b9b9;
    border: 0;
    border-radius: 1vw;
    padding: 2vh;
    width: 6vw;
    max-width: 6vw;
}



@media only screen and (max-width: 650px) {
    .field{
        width: 100%;
    }

    .field input{
        width: calc(100% - 4vh);
    }

}