.loadingContainer{
    display: flex;
    justify-content: center;
}

.disableLoading {
    background-color: rgba(0, 0, 0, 0.514);
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loading {
    animation: rotate 3s linear infinite;
    max-height: 20vh;
    transform: rotate(0deg);
    position: absolute;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(359deg);
    }
}
