
@font-face {
    font-family: 'Krona One';
    src: url('https://fonts.gstatic.com/s/kronaone/v8/jAnEgHdjHcjgfIb1ZcUCMY-h3cWkWg.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    width: 20vh;
    min-height: 20vh;
    margin-left: 2vw;
    margin-top: 2vh;
}

.logo p {
    padding-top: 5vh;
    color: rgba(255, 255, 255, 0.5);
    font-family: 'Krona One', sans-serif;
    font-size: 3vh;
}

.logo img{
    position: absolute;
    height: 20vh;
    opacity: 50%;
}
@media only screen and (max-width: 60vh) {
    .logo{
        margin-left: 2vh;
        height: 15vh;
        width: 15vh;
        min-height: 15vh;
    }
    .logo img{
        height: 15vh;
    }
}
