.postContainer{
    background: linear-gradient(0deg, #4126539f, #3f576fa8);
    padding: 3rem;
    border-radius: 2vh;
    box-shadow: 0px 0px 2vh 0px rgba(0, 0, 0, 0.164); /* Add shadow */
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 70vw;
    color: white;
}

.topPost{
    display: flex;
    width: 100%;
    padding: 1vh;
}

.hitbox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 2vh;
}
.hitbox:hover{
    cursor: pointer;
}

.hitbox img {
    position: absolute;
    max-width: 30vh;
    max-height: 30vw;
    transition: margin-left, 0.8s;
}

.cover{
    box-shadow: 0px 0px 2vh 0px rgb(0, 0, 0);
    z-index: 2;
}
.hitbox:hover .cover{
    margin-left: -10vh;
    
}

.hitbox:hover .vinyl{
    margin-left: 10vh;
}

.info{
    padding: 2vh;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
}

.info ul{
    display: flex;
    margin-left: -5vh;
    flex-direction: column;
    align-items: start;
    gap: 2vh;
    list-style-type: none;
    font-size: 3vh;
    text-align: left;
}


.info a{
    background-color: black;
}

.midPost{
    padding: 2vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.midPost p{
    max-width: 70%;
    font-size: 3vh;
    text-align: left;
}

.space {
    width: 20vw;
}

.circle{
    height: 22vh;
    width: 22vh;
    min-width: 22vh;
    border-radius: 100%;
    border: solid 0.1vh rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottomPost{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.bottomPost p {
    color:rgb(133, 133, 133) ;
}


@media only screen and (max-width: 600px) {
.postContainer{
    padding: 1.5rem;
}

    .hitbox{
        max-width: 100%;
        max-height: 100%;
    }

    .postContainer p, .postContainer li{
        font-size: 3vw;
    }
    .midPost{
        flex-direction: column;
        align-items: center;
        flex-flow: column-reverse;
    }

    .postContainer{
        height: fit-content;
        max-width: 50vw;

    }
    .topPost {
    flex-direction: column;
    align-items: center;
    }
    .hitbox{
        min-height: 20vh;

    }
    .circle {
        height: 10vh;
        width: 10vh;
        min-width: 10vh;
    }
    .circle h1{
        font-size: 4vh;
    }
    .topPost h1 {
        font-size: 2vh;
    }
}