.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 100vw;
}
.navUl{
    display: flex;
    gap: 5vw;
    list-style-type: none;
    align-items: center;
    padding-right: 10vw;
    font-size: 2.5vh;
}

.navLi{
    padding: 1vw;
}


.navLi:hover{
    background-color: rgba(255, 255, 255, 0.178);
    border-radius: 2.5vh;
}

.nav a{
    color:rgb(207, 207, 207);
    text-decoration: none;
}
#selected{
    font-weight: bold;
    font-size: 3vh;
}

@media only screen and (max-width: 60vh) {
    .navUl{
        display: block;
        font-size: 5vw;
    }

    .navLi{
        margin-top: 1vh;
    }
    #selected{
        font-size: 6vw;
    }
}

