body{
    height: 100vh;
    width: 100vw;
    background: rgb(229,123,105);
    background: linear-gradient(140deg, rgba(229,123,105,1) 0%, rgba(164,89,164,1) 50%, rgba(63,87,111,1) 100%);
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    background-attachment: fixed;
    flex-direction: column;
    overflow-y: scroll;
}


#root{
    display: flex;
    align-items: center;
}

.nav {

    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 100vw;
}
.navUl{
    display: flex;
    gap: 5vw;
    list-style-type: none;
    align-items: center;
    padding-right: 10vw;
}

.navLi{
    padding: 1vw;
}


.navLi:hover{
    background-color: rgba(255, 255, 255, 0.178);
    border-radius: 2vh;
}

.nav a{
    color:rgb(207, 207, 207);
    text-decoration: none;
}
.page{
    display: flex;
    align-items: start;
    justify-content: center;
    width: 100vw;
    padding-top: 5vh;
}

#selected{
    font-weight: bold;
    font-size: 3vh;
}
